.main-app.curr-destination {
  background-image: url(../../img/destination/background-destination-desktop.jpg);
}
.dest-page {
  padding-bottom: 110px;

  .img-and-info {
    flex-direction: column;
    align-items: center;
    @include for-wide-layout {
      flex-direction: row;
    }
    > * {
      text-align: center;
      @include for-wide-layout {
        text-align: initial;
      }
      flex-basis: 445px;
    }
  }

  .destinations-nav {
    margin-bottom: 40px;
    gap: 35px;
    justify-content: center;
    @include for-wide-layout {
      justify-content: unset;
    }
  }

  .add-info {
    margin-top: auto;
    gap: 80px;
    justify-content: center;
    @include for-wide-layout {
      justify-content: unset;
    }
    .sub-heading-2 {
      color: $clr-2;
      margin-bottom: 12px;
    }
  }
}
